QWidget {
  font: 75  "";
}

QPushButton:hover {
  background-color: ;
}

QCheckBox::indicator:hover {
  border-color: ;
}

QCheckBox::indicator:checked {
  background-color: ;
}

QLabel#quetzal_label,
QLabel#error_display {
  color: ;
}

QTreeWidget::item:hover {
  background-color: ;
}

QTreeWidget::item:selected {
  background-color: ;
}

QMenu::item:selected {
  background-color: ;
}

QMenu::item:pressed {
  background-color: ;
}

QLineEdit:focus {
  color: ;
}
